{
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "no-multi-spaces": 0,
        "no-underscore-dangle": 0,
        "no-mixed-spaces-and-tabs": 2,
        "block-scoped-var": 2,
        "no-inner-declarations": 2,
        "valid-jsdoc": 1,
        "no-irregular-whitespace": 2,
        "spaced-comment": [1, "always"],
        "no-unused-vars": 2,
        "no-undef": 2,
        "comma-dangle": [2, "always-multiline"],
        "no-console": 2,
        "no-debugger": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "eqeqeq": 2,
        "no-useless-call": 1,
        "strict": [2, "global"],
        "max-len": [2, { "code": 100, "ignoreUrls": true }]
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "globalReturn": true
        }
    }
}
